* {
    box-sizing: border-box;
}

body {
    font-family: 'ZCOOL KuaiLe', cursive;
    background-color: #2f5694;
}

.container {
    max-width: 500px;
    background-color: #3381d4;
}

input[type="text"]:focus {
    background-color: #2f5694;
    color: #fff;
    outline: none;
    border: none;
}

.delete {
    cursor: pointer;
}

.filtered {
    display: none !important;
}